<div class="header-body text-center mb-7">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <img src="{{ asset('assets/img/coiffme.png') }}" style="width: 80px" alt="">
        </div>
    </div>
</div>
<h1>Félicitations!</h1>

<p>Vous venez d'accepter un Rendez-Vous!</p>
<p>Votre compte a été crédité avec succès, veuillez consulter votre compte pour plus de détails.</p>



<p>A bientôt!</p>
