<div class="header-body text-center mb-7">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <img src="{{ asset('assets/img/coiffme.png') }}" style="width: 80px" alt="">
        </div>
    </div>
</div>
<h1>Bonjour!</h1>

<p>Votre compte a été supprimé avec succès!</p>

{#<a href="{{ delete_url }}">Confirmer la suppression de mon compte</a>#}


<p>A bientôt!</p>
